{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid mt-3 mb-3">
        <div class="section section-signup" style="background-image: url('/static/detcus.jpg'); background-size: cover;background-position:center; min-height: 650px;">

        <div class="row mx-3 ">
            <div class="col-md-4 mt-3">
                <h3>Detail Information</h3><hr>
                <p><span class="font-weight-bold">Name: </span>{{customer.full_name}}</p>
                <p><span class="font-weight-bold">Username: </span>{{customer.user.username}}</p>
                <p><span class="font-weight-bold">Email: </span>{{customer.user.email}}</p>
                <p><span class="font-weight-bold">Address: </span>{{customer.address}}</p>
                <p><span class="font-weight-bold">Joined on: </span>{{customer.joined_on}}</p>

            </div>

            <div class="col-md-8 mt-3">
                <h3>Previous Order</h3><hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sn</th>
                            <th>Order Id</th>
                            <th>Amount</th>
                            <th>Ordered on</th>
                            <th>Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for ord in orders %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'HamroPasal:customerorderdetail' ord.id %}">#ORDER_{{ord.id}}</a></td>
                            <td>{{ord.total}}</td>
                            <td>{{ord.created_at|timesince}}ago</td>
                            <td>{{ord.order_status}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>

{% endblock %}